* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*background: linear-gradient(180deg, #fffcee 0%, #c8c4b5 100%) no-repeat;*/
    background: #141416;
    color: #A3A3A3;
    font-family: 'Mulish', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'League Spartan', monospace;
    color: #EEBF3D;
}

.title-wrapper {
    display: flex;
    margin: 20px 0 40px;

    header {
        margin: 0 auto;
        display: inline-flex;
        flex-direction: column;
    }
}

.title {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    letter-spacing: 0.1em;
    margin-bottom: -18px;
    color: #EEBF3D;
}

.subtitle {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1.3em;
    padding-left: 13px;

    text-align: center;
    color: #3d4633;
}

main {
    display: flex;
    width: 800px;
    margin: 0 auto;
    border-top: 1px dashed #000;
}
