services:
  db:
    image: postgres:17-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: scoris
    volumes:
      - pgdata:/var/lib/scoris/data
    ports:
      - '5432:5432'

volumes:
  pgdata:
